.yield-body {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-flex {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.form-flex input {
  margin-top: 10px;
  border-radius: 1px;
}
